.sbux-columns.block {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 2rem;
  margin: 0 -1rem 35px;
}

.sbux-columns .sbux-column-card {
  position: relative;
  overflow: hidden;
  min-height: 625px;
  border-radius: 0;
  font-size:24px;
}



.sbux-columns .sbux-column-card,
.sbux-columns div[data-aue-component="card"] {
  box-sizing: border-box;
  width: 50%;
  padding: 0 1rem 2rem;
}

.sbux-columns .sbux-column-card h1, .sbux-columns .sbux-column-card h2 {
    font-size:50px;
    max-width:400px;
}

.sbux-columns .sbux-column-card p {
    font-size:24px;
    max-width:480px;
}

.sbux-columns .sbux-column-card a.button:any-link, .sbux-columns .sbux-column-card a.button:any-link button {
    background-color: #fff;
    color: #00754a;
}

.sbux-columns .sbux-column-card a.button:any-link:hover, .sbux-columns .sbux-column-card a.button:any-link button:hover {
    background-color: rgb(255 255 255 / 80%);
    border-color: rgb(255 255 255 / 80%);
}

.sbux-columns .sbux-column-bg-image {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.sbux-columns .sbux-column-card::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to bottom,rgb(0 0 0 / 20%),rgb(0 0 0 / 60%)
  );
  pointer-events: none;
  z-index: 0;
}

.sbux-columns .sbux-column-content {
  position: relative;
  z-index: 1;
  padding: 1.5rem;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 220px; 
}

.sbux-columns .sbux-column-left .sbux-column-content {
  text-align: center;
  align-items: center;
}

.sbux-columns .sbux-column-right .sbux-column-content {
  text-align: center;
  align-items: center;
}

.sbux-columns .sbux-column-content p {
  margin: 0.25rem 0;
}

.sbux-columns .sbux-column-content p:first-child {
  margin-top: 0;
}

.sbux-columns .sbux-column-bgcolor-field {
  display: none !important;
}

@media (width <= 768px) {
  .sbux-columns .sbux-column-card,
  .sbux-columns div[data-aue-component="card"] {
    width: 100%;
  }
}